Package: com.junesiphone.noupdatebadge
Name: NoUpdateBadge
Version: 0.1
Architecture: iphoneos-arm
Depends: mobilesubstrate
Conflicts:
Description: Hides the red update badge in settings
Maintainer: June <junesgraphics@gmail.com>
Author: JunesiPhone <junesgraphics@gmail.com>
Section: Addons (Tweaks)
Depiction: http://www.junesiphone.com/supersecret/depiction.php?iframe=depiction/noupdatebadge
tag: cydia::paid